
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark bg-light text-dark">

    <div  style="background-color: #c0bcbc; color: black;">
      <div class="container" >
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 text-center">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right text-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <!-- <i class="fab fa-facebook-f white-text mr-4"> </i> -->
              <img src="../../assets/icons/icons8-facebook-50.png" height="5%" width="5%"> 
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <!-- <i class="fab fa-twitter white-text mr-4"> </i> -->
              <img src="../../assets/icons/icons8-twitter-circled-50.png" height="5%" width="5%">
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <!-- <i class="fab fa-google-plus-g white-text mr-4"> </i> -->
              <img src="../../assets/icons/icons8-google-plus-50.png" height="5%" width="5%">
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <!-- <i class="fab fa-linkedin-in white-text mr-4"> </i> -->
              <img src="../../assets/icons/icons8-linkedin-circled-50.png" height="5%" width="5%">
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <!-- <i class="fab fa-instagram white-text"> </i> -->
              <img src="../../assets/icons/icons8-instagram-circle-50.png" height="5%" width="5%">
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Foodie</h6>
          <hr class="deep-purple mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Get yummy, finger liking food at your doorsteps in few minutes!
            What are you waiting for?</p>
            <p>Order now from Foodie!</p>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">About Us</h6>
          <hr class="deep-black mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Who We Are</a>
          </p>
          <p>
            <a href="#!">Blog</a>
          </p>
          <p>
            <a href="#!">Careers</a>
          </p>
          <p>
            <a href="#!">Contacts</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">Add Restaurant</a>
          </p>
          <p>
            <a href="#!">Community</a>
          </p>
          <p>
            <a href="#!">Report Fraud</a>
          </p>
          <p>
            <a href="#!">Shipping Rates</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <!-- <i class="fas fa-home mr-3"></i> -->
            <img src="../../assets/icons/icons8-periscope-logo-50.png" height="10%" width="10%"> New York, NY 10012, US</p>
          <p>
            <!-- <i class="fas fa-envelope mr-3"></i> -->
            <img src="../../assets/icons/icons8-gmail-50.png" height="10%" width="10%"> info@example.com</p>
          <p>
            <!-- <i class="fas fa-phone mr-3"></i> -->
            <img src="../../assets/icons/icons8-ringer-volume-50.png" height="10%" width="10%"> + 01 234 567 88</p>
          <p>
            <!-- <i class="fas fa-print mr-3"></i> -->
            <img src="../../assets/icons/icons8-telegram-app-50.png" height="10%" width="10%"> + 01 234 567 89</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-dark text-light">© 2021 Copyright:
      <a href="https://myPage.com/"> Foodie.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  