<div class="bg-image" style="
background-image: url('../assets/back1.jpeg');
height: 100%;
">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="card">
                    <div class="card-header text-center ">
                        <div class="row">
                            <div class="col-md-11">User Registration</div>
                            <div class="col-md-1">
                                <a routerLink="/app-homepage" routerLinkActive="active" class="">
                                x
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="registerForm" (ngSubmit)="register()">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" formControlName="name" class="form-control"
                                    placeholder="Enter your name" required>
                                <p *ngIf="registerForm.controls.name.errors && (registerForm.controls.name.dirty)"
                                    class="alert alert-danger">
                                    Please enter valid name.
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Email Id</label>
                                <input type="email" id="email" formControlName="email" class="form-control"
                                    placeholder="Enter your email id" required>
                                <p *ngIf="registerForm.controls.email.errors && (registerForm.controls.email.dirty )"
                                    class="alert alert-danger">
                                    Please enter valid email id.
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="contactNumber">Contact Number</label>
                                <input id="contactNumber" formControlName="contactNumber" type="text"
                                    class="form-control" placeholder="Enter your contact number" required>
                                <p *ngIf="registerForm.controls.contactNumber.errors && (registerForm.controls.contactNumber.dirty)"
                                    class="alert alert-danger">
                                    Please enter valid contact number.
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" formControlName="password" type="password" class="form-control" placeholder="Enter your password" required>
                                <p *ngIf="registerForm.controls.password.errors && (registerForm.controls.password.dirty)"
                                    class="alert alert-danger">
                                    Please enter valid password.
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea id="address" formControlName="address" type="text"
                                    class="form-control" rows="1" placeholder="Enter your address" required></textarea>
                                <p *ngIf="registerForm.controls.address.errors && (registerForm.controls.address.dirty)"
                                    class="alert alert-danger">
                                    Please enter valid address.
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="role">Role</label>
                                <select formControlName="role" class="form-control" id="role" required>
                                    <option value="" disabled>--Select--</option>
                                    <option value="customer">Customer</option>
                                    <option value="vendor">Vendor</option>
                                </select>
                                <p *ngIf="registerForm.controls.role.errors && (registerForm.controls.role.touched )"
                                    class="alert alert-danger">
                                    Role is required
                                </p>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-6 offset-md-3 col-sm-12">
                                    <input type="submit" class="btn btn-success" value="Sign Up"
                                        [disabled]="registerForm.invalid">
                                    <input type="reset" class="btn btn-danger" value="Cancel">
                                </div>
                            </div>
                            <div *ngIf="successMessage" class="text-success">
                                {{successMessage}}
                            </div>
                            <div *ngIf="errorMessage" class="text-danger">
                                {{errorMessage}}
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div>
                            Alredy have an account? <a routerLink="/app-login" routerLinkActive="active">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
