<div class="bg-image" style="
background-image: url('../assets/back1.jpeg');
height: 100vh;
">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1">
                <img src="../../assets/icons/icons8-instagram-circle-50.png" alt="Avatar"
                    style="height: 100%;width: 100%;"> 
            </div>
            <div class="col-4">
                <div class="row">
                    <h3>Username</h3>
                </div>
                <div class="row">
                    <img src="../../assets/icons/icons8-periscope-logo-50.png" alt="Avatar"
                    style="height: 5%;width: 5%;">Location
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-4" style="align-items: left;">
                <button class="btn btn-danger">Edit Profile</button>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="card">
                        <div class="card-header">Activity</div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item active">Pictures</li>
                                <li class="list-group-item">Documents</li>        
                                <li class="list-group-item">Music</li>
                                <li class="list-group-item">Videos</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-header">Online Ordering</div>
                        Hi card
                    </div>
                </div>
            </div>
            <div class="col-8">

            </div>
        </div>
    </div>


</div>