<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="#">Brand Name</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-dark" id="collapsibleNavbar">
        <!-- items will be displayed only on successfull login -->
        <ul class="navbar-nav" *ngIf="login">
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="!isLogin">
            <li class="nav-item"> <a routerLink="/app-login" routerLinkActive="active" class="nav-link">Login</a></li>
            <li class="nav-item"> <a routerLink="/app-register" routerLinkActive="active" class="nav-link">Sign Up</a></li>
        </ul>
        <!-- items will be displayed only on successfull login -->
        <ul class="navbar-nav ml-auto"  *ngIf="isLogin">
            <li class="nav-item"> <a class="nav-link" href="#">Profile</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Logout</a></li>
        </ul> 
    </div>
</nav>
<router-outlet></router-outlet>