<div class="bg-image" style="
      background-image: url('../assets/back1.jpeg');
      height: 100vh;
    ">
    <!-- <h1 class="display1 text-center">Welcome home</h1> -->
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <h1 class="display-1 text-center text-warning">FOODIE</h1>
            </div>
            <div class="col-12">
                <h4 class="display-6 text-center text-warning">Fresh Finger - Licking Food is just a click away!</h4>
            </div>
        </div>
        <div class="card text-center" style="background-color: black;color: white; opacity: 0.7;">
            <div class="card-body">
                <form class="">
                    <div class="form-group">
                        <div class="row text-center">
                            <div class="col-md-7 offset-md-2 col-sm-12">
                                <input type="text" class="form-control" placeholder="Search for restaurant, cuisine or a dish">
                            </div>
                            <div class="col-md-1 col-sm-12">
                                <button class="btn btn-danger">Search</button>
                            </div>
                        </div>
                    </div>
                </form>               
            </div>
        </div>
    </div>
</div>
