<div class="bg-image" style="
      background-image: url('../assets/back1.jpeg');
      height: 100vh;
    ">
    <h1 class="display1 text-center">Welcome home</h1>
    <div class="container" >
        <div class="card text-center" style="background-color: black;color: white;">
            <div class="card-body">
                <form class="form-inline">
                    <div class="form-group">
                        
                        <input type="text" class="form-control" placeholder="Search for restaurant, cuisine or a dish">
                        <button class="btn btn-danger">Search</button>
                    </div>

                    
                </form>
                
            </div>
        </div>
    </div>
</div>
